<log4net>
	<root>
		<level value="ALL" /> <!-- Debug, Info, Warn, Error, Fatal -->
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="Tarea.txt" /> <!-- nombre / ruta del archivo -->
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd" /> <!-- Creara un archivo nuevo cada dia -->
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" /> <!-- Si el archivo llega a 10 mb este creara otro archivo -->
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
</log4net>